.navbar-enter {
  opacity: 0;
  transform: translateY(-10px);
}

//entrance animation
.navbar-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.navbar-exit {
  opacity: 1;
  transform: translateY(0);
}

//fade to full transparancy
.navbar-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}
